<section class="activity hero-decor">
  <div class="container">
    <h2 class="activity__title heading-h1">Activity & Updates</h2>
    <p class="activity__descr text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="activity__nav">
      <ul class="activity__nav-list">
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#"> View all </a>
        </li>
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#"> Design </a>
        </li>
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#"> Articles </a>
        </li>
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#"> Product </a>
        </li>
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#">
            Software Development
          </a>
        </li>
        <li class="activity__nav-item">
          <a class="activity__nav-link text-p-default" href="#">
            Customer Success
          </a>
        </li>
      </ul>
    </div>
    <div class="activity__sliders">
      <div class="swiper activity__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide activity__slide activity__slide--btn">
            <div class="activity__slide-btns">
              <svg
                width="26.333252"
                height="16.345581"
                viewBox="0 0 26.3333 16.3456"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs />
                <path
                  id="Icon"
                  d="M18.16 1.5L24.83 8.17L18.16 14.83M8.16 14.83L1.5 8.17L8.16 1.5"
                  stroke="#7E8492"
                  stroke-opacity="1.000000"
                  stroke-width="3.000000"
                  stroke-linejoin="round"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/images/activity/activity-slider-1-1.jpeg"
              alt="girl at the table in front of the laptop"
            />
            <div class="activity__slide-info">
              <div class="activity__slide-info-photo text-p-small">
                <span>Published in Insight Jan 30, 2021</span>
                <span>by : Albert Sans</span>
              </div>
              <h3 class="activity__slide-title heading-h5">
                Practice making User Flow
              </h3>
              <p class="activity__slide-text">
                In this article, we'll cover how to create user flows
              </p>
            </div>
          </div>
          <div class="swiper-slide activity__slide">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/images/activity/activity-slider-1-2.jpeg"
              alt="two girls at a table in front of a laptop"
            />
            <div class="activity__slide-info">
              <div class="activity__slide-info-photo text-p-small">
                <span>Published in Insight Jan 30, 2021</span>
                <span>by : Albert Sans</span>
              </div>
              <h3 class="activity__slide-title heading-h5">
                Overview of the Design Principles
              </h3>
              <p class="activity__slide-text">
                What are Design Principles?… To understand design principles, we
                first discuss the principles.
              </p>
            </div>
          </div>
          <div class="swiper-slide activity__slide">
            <img
              loading="lazy"
              class="activity__slide-img"
              src="./assets/images/activity/activity-slider-1-3.jpeg"
              alt="girl at the table in front of the laptop"
            />
            <div class="activity__slide-info">
              <div class="activity__slide-info-photo text-p-small">
                <span>Published in Insight Jan 30, 2021</span>
                <span>by : Albert Sans</span>
              </div>
              <h3 class="activity__slide-title heading-h5">
                Using Grid in website design
              </h3>
              <p class="activity__slide-text">
                Andi: "What's the grid like?" Toni: “Like below…”
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
