<section class="advice">
  <div class="container">
    <div class="advice__cards">
      <div class="advice__card">
        <img
          loading="lazy"
          class="advice__card-img"
          src="./assets/images/activity/advice-card-1.jpeg"
          alt="the table has a panchette on it and chairs around it"
        />
        <h2 class="advice__card-title heading-h3">
          How we perform long-running tasks using AWS services
        </h2>
        <p class="advice__card-descr">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
      <div class="advice__card">
        <img
          loading="lazy"
          class="advice__card-img"
          src="./assets/images/activity/advice-card-2.jpeg"
          alt="young guys meeting in the office"
        />
        <h2 class="advice__card-title advice__card-title--border heading-h3">
          HHow to ask when doing User Research
        </h2>
        <p class="advice__card-descr">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </div>
      <div class="advice__card">
        <img
          loading="lazy"
          class="advice__card-img"
          src="./assets/images/activity/advice-card-3.jpeg"
          alt="video conference in the office"
        />
        <h2 class="advice__card-title heading-h3">
          Layout Exploration — Simple exercise but big effect
        </h2>
        <p class="advice__card-descr">
          Make alternatives or other options for the design we are making.For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </div>
      <div class="advice__card">
        <img
          loading="lazy"
          class="advice__card-img"
          src="./assets/images/activity/advice-card-4.jpeg"
          alt="man speaking at a conference"
        />
        <h2 class="advice__card-title heading-h3">
          Webflow Break the Coding Barrier
        </h2>
        <p class="advice__card-descr">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </div>
    </div>
  </div>
</section>
