<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          class="get-started__form-link"
          href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-lable">
            <span class="get-started__form-lable-text text-p-small">
              First name
            </span>
            <input
              type="text"
              class="get-started__form-input text-p-small get-started__form-input--small"
              name="first-name"
              required
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-lable">
            <span class="get-started__form-lable-text text-p-small">
              Last name
            </span>
            <input
              type="text"
              class="get-started__form-input text-p-small get-started__form-input--small"
              name="last-name"
              required
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-lable">
          <span class="get-started__form-lable-text text-p-small"> Email </span>
          <input
            type="email"
            class="get-started__form-input text-p-small"
            name="Email"
            required
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-lable">
          <span class="get-started__form-lable-text text-p-small">
            Phone number
          </span>
          <input
            id="phone"
            type="tel"
            class="get-started__form-input text-p-small"
            name="Phone number"
            required
            placeholder=""
          />
        </label>
        <label class="get-started__form-lable">
          <span class="get-started__form-lable-text text-p-small">
            Message
          </span>
          <textarea
            type="text"
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            name="Message"
            required
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started__form-btn button-form">Get Started</button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/images/getstarted-img.jpeg"
      width="987"
      height="885"
      alt="A woman and a high-five each other"
    />
  </div>
</section>
