<section class="hero">
  <div class="hero__top hero-decor">
    <div class="container">
      <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
      <p class="hero__descr heading-h1">
        Choose a plan for a more advanced business
      </p>
      <label class="hero__switcher-wrapper">
        <span class="hero__switcher">
          <input
            type="checkbox"
            class="hero__switcher-checkbox"
            data-price="switcher"
          />
        </span>
        <span class="hero__switcher-text text-p-default">
          Annual pricing (save 20%)
        </span>
      </label>
    </div>
  </div>
  <div class="container">
    <ul class="hero__plans">
      <li class="hero__item">
        <div class="hero__plans-icon">
          <svg
            width="20.000000"
            height="17.364258"
            viewBox="0 0 20 17.3643"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M2.31 2.31C4.07 0.56 6.92 0.56 8.68 2.31L10 3.63L11.31 2.31C13.07 0.56 15.92 0.56 17.68 2.31C19.43 4.07 19.43 6.92 17.68 8.68L10 16.36L2.31 8.68C0.56 6.92 0.56 4.07 2.31 2.31Z"
              stroke="#1D1E25"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__plans-title text-p-large">Starter</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="starter"> $100 </span>
          <span class="hero__plans-price-text text-p-default"> /mo </span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            History of all Liked Photos
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Directory Listing
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Customize Your Profile
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Display Your Workshops
          </li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>
      <li class="hero__item hero__item--popular">
        <div class="hero__plans-icon hero__plans-icon--popular">
          <svg
            width="18.000061"
            height="20.000000"
            viewBox="0 0 18.0001 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs />
            <path
              id="Icon"
              d="M10 1L1 12L8 12L8 19L17 8L10 8L10 1Z"
              stroke="#FFFFFF"
              stroke-opacity="1.000000"
              stroke-width="2.000000"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__plans-title hero__plans-title--popular text-p-large">
          Popular
        </h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price hero__plans-price--popular heading-h2">
          <span data-price="popular"> $1400 </span>
          <span
            class="hero__plans-price-text hero__plans-price-text--popular text-p-default"
          >
            /mo
          </span>
        </div>
        <h4
          class="hero__plans-list-title hero__plans-list-title--popular text-p-default"
        >
          What’s included:
        </h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item hero__plans-item--popular">
            Unlimited Upload
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Advanced Statistic
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Profile Badge
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Access to the community
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            History of all Liked Photos
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Directory Listing
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Customize Your Profile
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Display Your Workshops
          </li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button
            class="hero__plans-btn hero__plans-btn--popular text-p-default"
          >
            Chose Plan
          </button>
        </div>
      </li>
      <li class="hero__item">
        <div class="hero__plans-icon">
          <svg
            width="24.000000"
            height="24.000000"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <defs>
              <clipPath id="clip1_1921">
                <rect
                  id="akar-icons:crown"
                  width="24.000000"
                  height="24.000000"
                  fill="white"
                  fill-opacity="0"
                />
              </clipPath>
            </defs>
            <rect
              id="akar-icons:crown"
              width="24.000000"
              height="24.000000"
              fill="#FFFFFF"
              fill-opacity="0"
            />
            <g clip-path="url(#clip1_1921)">
              <path
                id="Vector"
                d="M3.3 9.04C3.75 9.4 4.28 9.66 4.85 9.8C5.41 9.94 6 9.95 6.57 9.84C7.14 9.73 7.68 9.49 8.15 9.15C8.62 8.81 9.01 8.37 9.29 7.86L12 3L14.7 7.86C14.98 8.37 15.37 8.81 15.84 9.15C16.31 9.49 16.85 9.73 17.42 9.84C17.99 9.95 18.58 9.94 19.14 9.8C19.71 9.66 20.24 9.4 20.69 9.04L22 8L20.24 16.77C20.16 17.15 20 17.51 19.76 17.82C19.53 18.13 19.22 18.38 18.87 18.56C16.74 19.62 14.38 20.18 12 20.18C9.61 20.18 7.25 19.62 5.12 18.56C4.77 18.38 4.46 18.13 4.23 17.82C3.99 17.51 3.83 17.15 3.75 16.77L2 8L3.3 9.04Z"
                stroke="#1D1E25"
                stroke-opacity="1.000000"
                stroke-width="2.000000"
                stroke-linejoin="round"
              />
              <path
                id="Vector"
                d="M8 15C10.59 16.33 13.4 16.33 16 15"
                stroke="#1D1E25"
                stroke-opacity="1.000000"
                stroke-width="2.000000"
                stroke-linejoin="round"
                stroke-linecap="round"
              />
            </g>
          </svg>
        </div>
        <h3 class="hero__plans-title text-p-large">Enterprise</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="enterprice"> $2100 </span>

          <span class="hero__plans-price-text text-p-default"> /mo </span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>
          <li class="hero__plans-item">History of all Liked Photos</li>
          <li class="hero__plans-item">Directory Listing</li>
          <li class="hero__plans-item">Customize Your Profile</li>
          <li class="hero__plans-item">Display Your Workshops</li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>
    </ul>
  </div>
</section>
